## Copyright (C)2025 by John A Kline (john@johnkline.com)
## Distributed under the terms of the GNU Public License (GPLv3)
## See LICENSE for your rights.
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>weewx-airgradient demo page</title>
    <style>
      .airgradientnav {
        overflow: hidden;
      }
      .airgradientnav span {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 0px;
        text-decoration: none;
        font-size: 17px;
      }
      .airgradientnav span:hover {
        background-color: #ddd;
        color: black;
      }
      .airgradientnav span.active {
        background-color: #367ba3;
        color: white;
      }
    </style>
  </head>
  <body>
    <div style="text-align:center;font-size:32px;">
      <div>WeeWX-AirGradient Demo Page</div>
#if $current.pm2_5_aqi.has_data
##
## pm2.5_aqi
#set $rgbint = int($current.pm2_5_aqi_color.raw)
#set $red   = $rgbint >> 16
#set $green = ($rgbint >> 8) & 255
#set $blue  = $rgbint & 255
##set $rgbcolor = 'rgb(' + str($red) + ',' + str($green) + ',' + str($blue) + ')'
#set $rgbcolor = 'rgb(%d,%d,%d)' % ($red, $green, $blue)
      <div>$obs.label.pm2_5_aqi: <span style='color:$rgbcolor;'>$current.pm2_5_aqi</span></div>
#else
      <div>$obs.label.pm2_5_aqi: <span style='color:gray;'>Unavailable</span></div>
#end if
    </div>
    <br>
    <br>
    <div class="airgradientnav" style="width:100%;">
      <table style="text-align:center;width:40%;margin-left:30%;">
        <tr>
          <td style="background-color:black;text-align:center;">
            <span id="day" onclick="clickDay()" style="width:25%;" class="active">Day</span>
            <span id="week" onclick="clickWeek()" style="width:25%;">Week</span>
            <span id="month" onclick="clickMonth()" style="width:25%;">Month</span>
            <span id="year" onclick="clickYear()" style="width:25%;">Year</span>
          </td>
        </tr>
      </table>
    </div>
    <br>
    <br>
    <div id="day_block" style="text-align:center;">
      <div style="display:inline-block;">
        <div>
          <img src="dayaqi.png" alt="$obs.label.pm2_5_aqi">
          <img src="daypm2_5.png" alt="$obs.label.pm2_5">
        </div>
        <div>
          <img style="display:block;margin-left:0;"src="dayco2.png" alt="$obs.label.co2">
        </div>
        <div>
          <img src="daytvocIndex.png" alt="$obs.label.tvocIndex">
          <img src="daytvoc.png" alt="$obs.label.tvoc">
        </div>
        <div>
          <img src="daynoxIndex.png" alt="$obs.label.noxIndex">
          <img src="daynox.png" alt="$obs.label.nox">
        </div>
      </div>
    </div>
    <div id="week_block" style="display:none;text-align:center;">
      <div style="display:inline-block;">
        <div>
          <img src="weekaqi.png" alt="$obs.label.pm2_5_aqi">
          <img src="weekpm2_5.png" alt="$obs.label.pm2_5">
        </div>
        <div>
          <img style="display:block;margin-left:0;"src="weekco2.png" alt="$obs.label.co2">
        </div>
        <div>
          <img src="weektvocIndex.png" alt="$obs.label.tvocIndex">
          <img src="weektvoc.png" alt="$obs.label.tvoc">
        </div>
        <div>
          <img src="weeknoxIndex.png" alt="$obs.label.noxIndex">
          <img src="weeknox.png" alt="$obs.label.nox">
        </div>
      </div>
    </div>
    <div id="month_block" style="display:none;text-align:center;">
      <div style="display:inline-block;">
        <div>
          <img src="monthaqi.png" alt="$obs.label.pm2_5_aqi">
          <img src="monthpm2_5.png" alt="$obs.label.pm2_5">
        </div>
        <div>
          <img style="display:block;margin-left:0;"src="monthco2.png" alt="$obs.label.co2">
        </div>
        <div>
          <img src="monthtvocIndex.png" alt="$obs.label.tvocIndex">
          <img src="monthtvoc.png" alt="$obs.label.tvoc">
        </div>
        <div>
          <img src="monthnoxIndex.png" alt="$obs.label.noxIndex">
          <img src="monthnox.png" alt="$obs.label.nox">
        </div>
      </div>
    </div>
    <div id="year_block" style="display:none;text-align:center;">
      <div style="display:inline-block;">
        <div>
          <img src="yearaqi.png" alt="$obs.label.pm2_5_aqi">
          <img src="yearpm2_5.png" alt="$obs.label.pm2_5">
        </div>
        <div>
          <img style="display:block;margin-left:0;"src="yearco2.png" alt="$obs.label.co2">
        </div>
        <div>
          <img src="yeartvocIndex.png" alt="$obs.label.tvocIndex">
          <img src="yeartvoc.png" alt="$obs.label.tvoc">
        </div>
        <div>
          <img src="yearnoxIndex.png" alt="$obs.label.noxIndex">
          <img src="yearnox.png" alt="$obs.label.nox">
        </div>
      </div>
    </div>
    <script>
      function resetAirGradientMenuBar() {
        document.getElementById('day').classList.remove('active');
        document.getElementById('week').classList.remove('active');
        document.getElementById('month').classList.remove('active');
        document.getElementById('year').classList.remove('active');
        document.getElementById('day_block').style.display = 'none';
        document.getElementById('week_block').style.display = 'none';
        document.getElementById('month_block').style.display = 'none';
        document.getElementById('year_block').style.display = 'none';
      }
      function clickDay() {
        resetAirGradientMenuBar();
        document.getElementById('day').classList.add('active');
        document.getElementById('day_block').style.display = 'block';
      }
      function clickWeek() {
        resetAirGradientMenuBar();
        document.getElementById('week').classList.add('active');
        document.getElementById('week_block').style.display = 'block';
      }
      function clickMonth() {
        resetAirGradientMenuBar();
        document.getElementById('month').classList.add('active');
        document.getElementById('month_block').style.display = 'block';
      }
      function clickYear() {
        resetAirGradientMenuBar();
        document.getElementById('year').classList.add('active');
        document.getElementById('year_block').style.display = 'block';
      }
      clickDay();
    </script>
  </body>
</html>
